@color-text:         #f8f8fa;
@color-dark:         #2f2d3d;
@color-primary:      #44394d;
@color-primary-dark: #312838;

@import "config";

@padding-regular:     1em;

@transition-duration: 0.3s;
@transition-fast:     0.15s;
@transition-colors:
  @transition-duration color,
  @transition-duration background-color,
  @transition-duration border-color;
@transition-colors-in:
  @transition-duration / 4 color,
  @transition-duration / 4 background-color,
  @transition-duration / 4 border-color;

@base-background:               @color-dark;

@text-color:                    @color-text;
@text-color-hover:              mix(@text-color, @color-dark);

@button-background-hover:       darken(@color-dark, 5%);
@button-background-selected:    @color-primary;
@button-background-active:      mix(@button-background-selected, @button-background-hover);

@note-text-color:               lighten(@color-primary, 50%);
@note-text-color-active:        lighten(@color-primary, 65%);
@note-background-color:         @color-primary;
@note-background-color-active:  lighten(@color-primary, 15%);

@overlay-background-color:  desaturate(darken(@color-dark, 3%), 3%);
@overlay-shadow:            0 0 12em 1em rgba(0,0,0,0.3);

@grid-color: @color-primary;

.text(label) {
  text-transform: uppercase;
  letter-spacing: 0.23em;
  font-family: Lato;
  font-weight: 200;
  font-size:   0.6em;
}

.text(subtitle) {
  font-family: Lato;
  font-weight: 100;
  font-size:   1.6em;
}


.color(background) {
  background-color: var(--color-background, @base-background)
}

.color(primary) {
  background-color: var(--color-primary, @color-primary)
}
